= page_title '게시판 수정' 

= error_messages_for :board

- form_for(:board, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Update"

= link_to 'Back', objects_path
