<table>
	<% @posts.each_with_index do |post, i| %>
	<tr>
		<% unless controller.action_name == 'search' %>
			<td><%= post.notice? ? APP_CONFIG[:notice] : @start_no - i  %></td>
		<% end %>	
		<td class="title"><%= link_to_unless_current h(post.title), board_post_path(post.board, post) %></td>
		<td><%= post.created_at.to_s(:ymdhm) %></td>
		<td><%= post.user || APP_CONFIG[:guest_name] %></td>
		<td><%= post.view_count %></td>
	</tr>	
	<% end %>
</table>	
