<ul class="menu">
	<li class="first"><%= link_to '서비스 소개', '/help/service_info' %></li>
	<li><%= link_to '이용약관' %></li>
	<li><%= link_to '개인정보보호', '/help/privacy' %></li>
	<li><a href="#">문의/제안</a></li>
	<li><a href="#">블로그</a></li>
	<li>Powered by <a href="http://zi5.googlecode.com"><em class="logo">zi5</em></a></li>
	<li>Copyright (c) <a href="<%= APP_CONFIG[:site_url] %>"><%= APP_CONFIG[:site_name] %></a>, All rights reserved.</li>
</ul>
